.text-primary{
    color:var(--Purple);
}

.text-secondary{
    color:var(--Smokey-grey);
}

.text-32{
    font-size: var(--Font-size32);
}

.text-w-400{
    font-weight: var(--Weights400);
}

.text-w-700{
    font-weight: var(--Weights700);
}

.text-w-800{
    font-weight: var(--Weights800);
}

.text-danger{
    color:var(--Light-red) !important;
}

.text-error{
    font-size: 12px;
}

@media screen and (max-width: 500px) {
    .text-error{
        font-size: 8px;
    }
}